html
head

title Simple template

<!-- include file css -->
link(rel='stylesheet', href='mystyle.css')


body

<!-- fro header -->
include ./header.pug

<!-- for content area -->
h2.txtmerah I'm the main content

h3 Testing static file serving
img(src="./images/gambar1.jpeg",alt="Testing Image",id="gbr")



<!-- fro footer -->
include ./footer.pug