
<html>
<body>
	<h1>POST METHODE</h1>
<form action="http://192.168.10.33:8000/post_process" method="POST">
First Name: <input type="text" name="nama" value="raflesia"> <br>
my Address: <input type="text" name="alamat" value="nainggolan"> <br>
<input type="submit" value="Submit">
</form>
</body>
</html>






