html
head
title Person
body
form(method='POST' action='/save_anggota')
	div
	label(for="username") username:
	input(name="username")
	br
	div
	label(for="password") password:
	input(name="password")
	br
	div
	label(for="alamat") alamat:
	input(name="alamat")
	br
	div
	label(for="nilai") nilai:
	input(name="nilai")
	br
	button(type="submit") Create new anggota